##Required

BUNGIE-API-KEY=
#get one here: https://github.com/Bungie-net/api/wiki/Bungie.net-Application-Portal
# no " " or ' '

DISCORD-WEBHOOK='put URL here' 
#see https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks
#requires ' '

CLAN_ID = ''
#^^ Sign in to bungie.net, go to View Profile, click on your clan (or copy link). Clan ID is the value after https://www.bungie.net/en/ClanV2?groupid=
#Example: https://www.bungie.net/en/ClanV2?groupid=881267
#CLAN_ID = '881267'

LOGGING_LEVEL = INFO
#valid variables are: DEBUG, INFO, WARNING, ERROR, CRITICAL
#must be in caps
#no "" or ''

# Strings, required. Placed here for translation purposes if needed.

WELCOME-TEXT = "Welcome Guardian"
CONNECTING = "Connecting to Bungie API"
API-ERROR = "There was a problem connecting to the API. Aborting."
FETCHING = "Fetching member count."
FIRST-RUN-TRUE = "First run detected. Updating local file with current information."
FIRST-RUN-COMPLETE = "First run complete. Exiting."
COUNT-MATCHES = "API count equals local count. Exiting"
COUNT-CHANGE = "API count differs from local count."
LOCAL-FILE-UPDATE = "Writing new info to local file and exiting."

# Discord bits

SEND_TO_DISCORD = 'True'
#^^ Set to True or False (' ' required)
#If 'True', will output to Discord if a change is reported.
#If 'False', it won't. Can leave the optional section unchanged if False.

##Optional

DISCORD_USERNAME = "Test"
#^^ sets username for webhook. " " required

DISCORD_AVATAR = "https://i.imgur.com/f1HFv2t.jpeg"
#^^ sets avatar for webhook. " " required... change from sample or not, up to you
# size recommendation: 128x128, less than 1MB
# sample avatar by Alex Knight on Unsplash -- https://unsplash.com/photos/2EJCSULRwC8

#Below 4 are required if SEND_TO_DISCORD = 'True'
DISCORD_TITLE = "Member Count Change"
DISCORD_DESC_1 = "Update as of"
DISCORD_DESC_2 = "Current member count is now"
DISCORD_COLOR = 1973518
## ^^ use int value from here if wanting different color: https://gist.github.com/thomasbnt/b6f455e2c7d743b796917fa3c205f812
